* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 0;
}

.header.active {
  height: 100vh;
  background: #d3d3d3;
}

.header.active .menuItems,
.header.active #ccCampaign {
  transform: scale(1);
  transition: all 0.4s ease-out;
}

div.miniNav {
  display: none;
}

div.menuButton {
  width: 26px;
  display: block;
  cursor: pointer;
  z-index: 99;
  transition: all 0.4s ease-in;
  margin: 15px 25px;
}

div.menuButton::before,
div.menuBar,
div.menuButton::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  margin-bottom: 4px;
  background-color: #262626;
}

div.menuButton.active::before {
  transform: rotate(45deg) translate(5px, 7px);
}

div.menuButton.active .menuBar {
  opacity: 0;
}

div.menuButton.active::after {
  transform: rotate(-45deg) translate(6px, -8px);
}

div.logo {
  display: none;
}

nav.menuItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
  transform: scale(0);
}

nav.menuItems > a {
  text-decoration: none;
  color: #262626;
  font-family: "Lato", sans-serif;
}

button#ccCampaign {
  width: 120px;
  height: 35px;
  background-color: #fff;
  align-self: center;
  border: 3px solid #ec5242;
  color: #ec5242;
  font-family: "Lato", sans-serif;
  transform: scale(0);
}

#banner {
  background: #efeef2cf;
  background-repeat: no-repeat;
  background-size: 100% 10%;
  height: 55vh;
  padding: 80px 10px 0 10px;
}

#banner > h1 {
  padding: 0 10px;
  line-height: 28px;
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 30px;
}

#banner > h1 > small {
  font-weight: 400;
  font-size: 20px;
}

#banner > p.schedule > small {
  font-size: 14px;
  font-weight: 400;
}

div.intro {
  width: 100%;
  border: 2px solid #fff;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #efeef2cf;
  font-size: 14px;
  font-family: 'Lota', sans-serif;
}

p.schedule {
  padding: 0 10px;
  font-weight: 900;
  font-size: 25px;
  font-family: 'Lota', sans-serif;
  line-height: 25px;
}

main {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  padding: 30px 15px;
  align-items: center;
  height: 80vh;
}

h1.mainHeader {
  font-size: 20px;
}

span.redBar {
  width: 10%;
  height: 1px;
  background: #ec5242;
  margin-top: -2px;
  margin-bottom: 25px;
}

.mainBox {
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  width: 100%;
  height: 18%;
  gap: 20px;
  align-items: center;
  padding: 15px;
}

.mainBox > h2 {
  font-size: 18px;
  width: 20%;
  color: #ec5242;
}

.mainBox > p {
  width: 60%;
  padding-left: 14px;
  font-size: 13px;
}

button#join {
  background: #ec5242;
  width: 80%;
  height: 60px;
  border: none;
  color: #fff;
  margin-top: 24px;
  font-size: 15px;
}

section.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 15px;
}

div.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

div.card {
  width: 100%;
  height: 100px;
  display: flex;
}

div.img1 {
  background: url(images/Qazi.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.img2 {
  background: url(images/EM.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.img3 {
  background: url(images/ACM.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.img4 {
  background: url(images/Yang.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.img5 {
  background: url(images/PP.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.img6 {
  background: url(images/PI.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.description {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h3.name {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

small.italic {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-style: italic;
  color: #ec5242;
}

span.grayBar {
  width: 5%;
  height: 1px;
  background: gray;
}

p.text {
  font-size: 12px;
  margin-top: 8px;
  height: auto;
}

/* For about page */

section#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #efeef2cf;
  background-repeat: no-repeat;
  background-size: 100% 10%;
  height: 55vh;
  padding: 80px 15px 0 15px;
}

section#about > h1 {
  padding: 0 10px;
  line-height: 30px;
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 28px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

#aboutSmall {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

div.aboutUs {
  border: 1px solid rgb(219, 215, 215);
  padding: 15px 10px;
  background-color: #fff;
  margin-bottom: 25px;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

p.contact {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

address {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

section#competition {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 20px;
}

section#competition > h1 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

p.info {
  font-size: 13px;
  font-family: 'Lota', sans-serif;
  width: 70%;
  text-align: center;
}

div.logoContainer {
  border: 1.5px solid #efeef2cf;
  width: 100%;
  text-align: center;
  padding: 1px 0;
  height: 205px;
}

span.grayBarLong {
  width: 100vw;
  background: #efeef2cf;
  height: 1.5px;
  margin-bottom: 15px;
}

span.redBarShort {
  width: 4%;
  height: 1px;
  background: #ec5242;
  margin-top: -2px;
}

div.pastSummit1 {
  background-image: linear-gradient(rgba(158, 3, 3, 0.6), rgba(234, 20, 20, 0.6)), url(images/conference1.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 90%;
  margin-top: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}

div.pastSummit2 {
  background-image: linear-gradient(rgba(158, 3, 3, 0.6), rgba(234, 20, 20, 0.6)), url(images/conference2.jpeg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 90%;
  margin-top: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}

section.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #262728;
  padding: 30px 40px 50px 40px;
}

section.partner > h4 {
  font-size: 16px;
  font-family: 'Lota', sans-serif;
  font-weight: 700;
  color: #fff;
}

span.partnerBar {
  width: 10%;
  height: 1px;
  background: #ec5242;
  margin-top: 5px;
  margin-bottom: 25px;
}

div.partnerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: space-between;
  width: 100%;
  color: #d3d3d3;
}

div.firstRow {
  display: flex;
  justify-content: space-around;
}

div.secondRow {
  display: flex;
  justify-content: space-around;
  padding: 0 60px 0 50px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer.foot {
  font-weight: 700;
  font-family: 'Lota', sans-serif;
}

small.footer {
  font-size: 11px;
  font-family: 'Lota', sans-serif;
}
