* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 0;
}

.header.active {
  height: 100vh;
  background: #272a31;
}

.header.active .menuItems,
.header.active #ccCampaign {
  transform: scale(1);
  transition: all 0.4s ease-out;
}

#logo {
  width: 150px;
  height: 150px;
  background: url(images/Techscape_logo.png);
  background-position: center;
  background-size: contain;
  border-radius: 150px;
}

div.miniNav {
  display: none;
}

div.menuButton {
  width: 26px;
  display: block;
  cursor: pointer;
  z-index: 99;
  transition: all 0.4s ease-in;
  margin: 15px 25px;
}

div.menuButton::before,
div.menuBar,
div.menuButton::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  margin-bottom: 4px;
  background-color: #262626;
}

div.menuButton.active::before {
  transform: rotate(45deg) translate(5px, 7px);
  background-color: #d3d3d3;
}

div.menuButton.active .menuBar {
  opacity: 0;
}

div.menuButton.active::after {
  transform: rotate(-45deg) translate(6px, -8px);
  background-color: #d3d3d3;
}

nav.menuItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
  transform: scale(0);
}

nav.menuItems > a {
  text-decoration: none;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

nav.menuItems a:hover {
  color: #ec5242;
}

button#ccCampaign {
  width: 120px;
  height: 35px;
  background-color: #262626;
  align-self: center;
  border: 3.5px solid #ec5242;
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  transform: scale(0);
}

#banner {
  background: #efeef2cf;
  background-repeat: no-repeat;
  background-size: 100% 10%;
  height: 465px;
  padding: 80px 10px 0 10px;
}

#banner > h1 {
  padding: 0 10px;
  line-height: 28px;
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 30px;
}

#banner > h1 > small {
  font-weight: 400;
  font-size: 20px;
}

#banner > p.schedule > small {
  font-size: 14px;
  font-weight: 400;
}

div.intro {
  width: 100%;
  border: 2px solid #fff;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #efeef2cf;
  font-size: 14px;
  font-family: 'Lota', sans-serif;
}

p.schedule {
  padding: 0 10px;
  font-weight: 900;
  font-size: 25px;
  font-family: 'Lota', sans-serif;
  line-height: 25px;
}

main {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  padding: 30px 15px;
  align-items: center;
  height: 650px;
}

h1.mainHeader {
  font-size: 20px;
}

span.redBar {
  width: 40px;
  height: 1px;
  background: #ec5242;
  margin-top: -2px;
  margin-bottom: 25px;
}

div.boxContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 70%;
}

.mainBox {
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  width: 100%;
  height: 20%;
  gap: 20px;
  align-items: center;
  padding: 15px;
}

.mainBox > h2 {
  font-size: 18px;
  width: 20%;
  color: #ec5242;
}

.mainBox > p {
  width: 60%;
  padding-left: 14px;
  font-size: 13px;
}

button#join {
  background: #ec5242;
  width: 80%;
  height: 60px;
  border: none;
  color: #fff;
  margin-top: 24px;
  font-size: 15px;
}

#seeMore {
  display: none;
}

section.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 15px;
  height: 900px;
}

div.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

div.card {
  width: 100%;
  height: 100px;
  display: flex;
}

div.img1 {
  background: url(images/Qazi.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.img2 {
  background: url(images/EM.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.img3 {
  background: url(images/ACM.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.img4 {
  background: url(images/Yang.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.img5 {
  background: url(images/PP.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.img6 {
  background: url(images/PI.jpg), url(images/checker.png);
  background-size: 75%, 35%;
  background-repeat: no-repeat;
  background-position: 40% 90%, top left;
  height: 100px;
  width: 115px;
}

div.description {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h3.name {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

small.italic {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-style: italic;
  color: #ec5242;
}

span.grayBar {
  width: 20px;
  height: 1px;
  background: gray;
  display: block;
  margin-top: 5px;
}

p.text {
  font-size: 12px;
  margin-top: 8px;
  height: auto;
}

/* For about page */

section#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #efeef2cf;
  background-repeat: no-repeat;
  background-size: 100% 10%;
  height: 465px;
  padding: 80px 15px 100px 15px;
}

section#about > h1 {
  padding: 0 10px;
  line-height: 30px;
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 28px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

#aboutSmall {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

div.aboutUs {
  border: 1px solid rgb(219, 215, 215);
  padding: 15px 10px;
  background-color: #fff;
  margin-bottom: 25px;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

p.contact {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

address {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

#address {
  color: #262626;
}

section#competition {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 20px;
}

section#competition > h1 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

p.info {
  font-size: 13px;
  font-family: 'Lota', sans-serif;
  width: 70%;
  text-align: center;
}

div.logoContainer {
  border: 1.5px solid #efeef2cf;
  width: 100%;
  text-align: center;
  padding: 1px 0;
  height: 205px;
}

span.grayBarLong {
  width: 100vw;
  background: #efeef2cf;
  height: 1.5px;
  margin-bottom: 15px;
}

span.redBarShort {
  width: 18px;
  height: 1px;
  background: #ec5242;
  margin-top: -2px;
}

div.pastSummit1 {
  background-image: linear-gradient(rgba(158, 3, 3, 0.6), rgba(234, 20, 20, 0.6)), url(images/conference1.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin-top: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}

div.pastSummit2 {
  background-image: linear-gradient(rgba(158, 3, 3, 0.6), rgba(234, 20, 20, 0.6)), url(images/conference2.jpeg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin-top: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}

section.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #262728;
  padding: 30px 40px 50px 40px;
}

section.partner > h4 {
  font-size: 16px;
  font-family: 'Lota', sans-serif;
  font-weight: 700;
  color: #fff;
}

span.partnerBar {
  width: 40px;
  height: 1px;
  background: #ec5242;
  margin-top: 5px;
  margin-bottom: 25px;
}

div.partnerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: space-between;
  width: 100%;
  color: #d3d3d3;
}

div.firstRow {
  display: flex;
  justify-content: space-around;
}

div.secondRow {
  display: flex;
  justify-content: space-around;
  padding: 0 60px 0 50px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e6e2e2;
}

footer.foot {
  font-weight: 700;
  font-family: 'Lota', sans-serif;
}

small.footer {
  font-size: 11px;
  font-family: 'Lota', sans-serif;
  width: 40%;
  display: block;
}

/* For desktop version */

@media (min-width: 768px) {
  header {
    height: 90px;
    display: flex;
    justify-content: flex-start;
    gap: 0;
  }

  div.miniNav {
    display: flex;
    background-color: #272a31;
    height: 30px;
  }

  nav.miniItems {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    gap: 15px;
    align-items: center;
  }

  i.fa-brands {
    font-size: 16px;
  }

  nav.miniItems > a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }

  div.menuButton {
    display: none;
  }

  nav.menuItems {
    flex-direction: row;
    transform: scale(1);
    height: 65px;
    width: 85%;
    justify-content: flex-end;
    gap: 5%;
  }

  nav.menuItems > a {
    color: #262626;
  }

  #logo {
    display: block;
    height: 91%;
    width: 56px;
    position: absolute;
    right: 80%;
    border: 1px solid #262626;
    border-radius: 60px;
    background: url(images/Techscape_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  button#ccCampaign {
    transform: scale(1);
    margin-left: 1%;
    background-color: #fff;
  }

  #banner {
    padding: 5% 13% 10% 13%;
    height: auto;
  }

  #banner > h1 {
    font-size: 70px;
    line-height: 90%;
    padding: 0;
  }

  #banner > h1 > small {
    display: inline-block;
    width: 100%;
    font-size: 42px;
  }

  div.intro {
    width: 55%;
    margin-bottom: 40px;
  }

  p.schedule {
    font-size: 35px;
    padding: 0;
  }

  #mainProgram {
    padding: 4.4% 14%;
    height: auto;
  }

  div.boxContainer {
    flex-direction: row;
    gap: 5px;
    margin-top: 20px;
    height: 40%;
  }

  div.mainBox {
    flex-direction: column;
    height: 250px;
    width: 20%;
    align-items: center;
    padding-top: 20px;
  }

  div.mainBox:hover {
    border: 2px solid #fff;
  }

  div.mainBox > h2 {
    width: 100%;
    text-align: center;
  }

  div.mainBox > p {
    width: 90%;
    height: 100%;
    padding: 0 1px;
  }

  #join {
    display: none;
  }

  #seeMore {
    display: block;
    margin-top: 3%;
    color: #fff;
  }

  section.speakers {
    padding: 2% 10% 5% 10%;
    height: auto;
  }

  h1.mainHeader {
    font-size: 25px;
  }

  div.cardsContainer {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    padding-left: 5%;
  }

  div.card {
    max-width: 45%;
    height: 30%;
  }

  h3.name {
    font-size: 20px;
  }

  small.italic {
    font-size: 12px;
  }

  p.text {
    font-size: 12.5px;
  }

  section.partner {
    height: 200px;
  }

  section.partner.hide {
    display: none;
  }

  section.partner > h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  div.partnerContainer {
    flex-direction: row;
    padding: 0;
    font-size: 25px;
    gap: 20px;
    justify-content: center;
  }

  div.firstRow {
    width: 48%;
  }

  div.secondRow {
    width: 30%;
    padding: 0;
    margin: 0;
    gap: 20px;
  }

  p.airbnb {
    display: flex;
    align-items: center;
  }

  i.fa-brands.fa-airbnb {
    font-size: 25px;
  }

  p.foot {
    font-weight: 800;
    font-size: 20px;
  }

  footer {
    height: 150px;
  }

  footer.black {
    background: #272a31;
    color: #fff;
  }  

  small.footer {
    width: 30%;
  }

  section#about {
    height: auto;
    padding-bottom: 14%;
  }

  section#about > h1 {
    font-size: 45px;
    line-height: 100%;
  }

  div.aboutUs {
    width: 65%;
    padding: 2% 5%;
  }

  address {
    font-weight: 700;
    margin-top: 10px;
  }

  #address {
    color: #262626;
  }

  section#competition {
    padding: 4% 0 10% 0;
  }

  div.logoContainer {
    width: 50%;
    margin: 30px 0;
  }

  p.info {
    margin: 0 0 20px 0;
  }

  div.row {
    display: flex;
    gap: 20px;
  }
}
